@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/Inter-UI-Regular.woff2") format("woff2"),
       url("../fonts/Inter-UI-Regular.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/Inter-UI-Italic.woff2") format("woff2"),
       url("../fonts/Inter-UI-Italic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-display: auto;
  font-weight: 600;
  src: url("../fonts/Inter-UI-Medium.woff2") format("woff2"),
       url("../fonts/Inter-UI-Medium.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-display: auto;
  font-weight: 600;
  src: url("../fonts/Inter-UI-MediumItalic.woff2") format("woff2"),
       url("../fonts/Inter-UI-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-display: auto;
  font-weight: 800;
  src: url("../fonts/Inter-UI-Bold.woff2") format("woff2"),
       url("../fonts/Inter-UI-Bold.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-display: auto;
  font-weight: 800;
  src: url("../fonts/Inter-UI-BoldItalic.woff2") format("woff2"),
       url("../fonts/Inter-UI-BoldItalic.woff") format("woff");
}

//JetBrainsMono ------

@font-face {
  font-family: 'JetBrains Mono';
  font-style:  normal;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/JetBrainsMono-Regular.eot") format("eot"),
  url("../fonts/JetBrainsMono-Regular.woff2") format("woff2"),
  url("../fonts/JetBrainsMono-Regular.woff") format("woff");
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style:  italic;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/JetBrainsMono-Italic.eot") format("eot"),
  url("../fonts/JetBrainsMono-Italic.woff2") format("woff2"),
  url("../fonts/JetBrainsMono-Italic.woff") format("woff");
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style:  normal;
  font-display: auto;
  font-weight: 600;
  src: url("../fonts/JetBrainsMono-Medium.eot") format("eot"),
  url("../fonts/JetBrainsMono-Medium.woff2") format("woff2"),
  url("../fonts/JetBrainsMono-Medium.woff") format("woff");
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style:  italic;
  font-display: auto;
  font-weight: 600;
  src: url("../fonts/JetBrainsMono-Medium-Italic.eot") format("eot"),
  url("../fonts/JetBrainsMono-Medium-Italic.woff2") format("woff2"),
  url("../fonts/JetBrainsMono-Medium-Italic.woff") format("woff");
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style:  normal;
  font-display: auto;
  font-weight: 800;
  src: url("../fonts/JetBrainsMono-Bold.eot") format("eot"),
  url("../fonts/JetBrainsMono-Bold.woff2") format("woff2"),
  url("../fonts/JetBrainsMono-Bold.woff") format("woff");
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style:  italic;
  font-display: auto;
  font-weight: 800;
  src: url("../fonts/JetBrainsMono-Bold-Italic.eot") format("eot"),
  url("../fonts/JetBrainsMono-Bold-Italic.woff2") format("woff2"),
  url("../fonts/JetBrainsMono-Bold-Italic.woff") format("woff");
}
