<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <script type="text/javascript">
        var timerStart = Date.now();
    </script>

    <!-- load bootstrap css -->
    <link rel="stylesheet" href="/css/min/bootstrap.min_f0dfe8982cc75acf4b0f5210683644f8.css">

    <title>{{.Title}}</title>

    <link rel="shortcut icon" href="/favicon.ico">

    <link rel="stylesheet" href="/css/min/prism.min_5b80b490ed1c683181f7cf4bca8c5e72.css">
    <link rel="stylesheet" href="/css/min/stylesheet.min_ab2343f64e8006b0d63a9044d87a96b6.css">
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-light">

        <!-- empty brandname ensures toggler is on the right; hack really -->
        <span class="navbar-brand mb-0 h1"></span>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle Navigation" name="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link {{ if eq .URL "/" }}active{{ end }}" href="/">home</a>
                {{ with .Site.Params.github }}<a class="nav-item nav-link" href="https://github.com/{{ . }}" target="_blank">github</a>{{ end }}
                {{ with .Site.Params.twitter }}<a class="nav-item nav-link" href="https://twitter.com/{{ . }}" target="_blank">twitter</a>{{ end }}
                {{ with .Site.Params.source }}<a class="nav-item nav-link" href="/{{ . }}" target="_blank">source</a>{{ end }}
                <a class="nav-item nav-link {{ if eq .URL "/resume/" }}active{{ end }}" href="/resume/">résumé</a>
                <a class="nav-item nav-link {{ if eq .URL "/chat/" }}active{{ end }}" href="/chat/">chat</a>
            </div>
        </div>
    </nav>

<!--    <section id="page-title" class="web">-->
<!--        {{ if eq .URL "/"}}-->
<!--            <img src="/drawkit-nature-man-colour.svg" width="100%" style="padding: 20px">-->
<!--        {{ else }}-->
<!--            &nbsp;-->
<!--        {{ end }}-->
<!--    </section>-->

<!--    <section id="page-title" class="mobile">-->
<!--        <h1>&lt;/&gt;</h1>-->
<!--        <span id="author-name">-->
<!--            <h6>{{ .Site.Params.Author }}</h6>-->
<!--        </span>-->
<!--    </section>-->

    <section id="page-title">
        {{ if eq .URL "/"}}
            <img src="/drawkit-nature-man-colour.svg" width="100%" style="padding: 20px">
        {{ else }}
            &nbsp;
        {{ end }}
    </section>
