{{ $main := resources.Get "js/main.js" }}
{{ $menu := resources.Get "js/menu.js" }}
{{ $prism := resources.Get "js/prism.js" }}
{{ $secureJS := slice $prism $main $menu | resources.Concat "bundle.js" | resources.Minify | resources.Fingerprint "sha512" }}
<script defer type="text/javascript" src="{{ $secureJS.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>

{{- if .Site.GoogleAnalytics }}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-172938328-1"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', '{{.Site.GoogleAnalytics}}');
</script>
{{- end}}

{{ range $val := $.Site.Params.customJS }}
	{{ if gt (len $val) 0 }}
		<script src="{{ $val }}"></script>
	{{ end }}
{{ end }}

<script>
	// Toggle theme
	const getTheme = window.localStorage && window.localStorage.getItem("theme");
	const themeToggle = document.querySelector(".theme-toggle");
	const themeToggleText = document.querySelector("#theme-toggle-button");
	const isDark = getTheme === "dark";
	const metaThemeColor = document.querySelector("meta[name=theme-color]");
	const homepageImage = document.querySelector("#homepage-image");
	const notFoundImage = document.querySelector("#notfound-image");

	// Toggle font
	const getFont = window.localStorage && window.localStorage.getItem("font");
	const fontToggle = document.querySelector(".font-toggle");
	const isNormal = getFont === "normal";

	// Font size
	const getFontSize = window.localStorage && window.localStorage.getItem("font-size");
	const fontSizeIncrease = document.querySelector(".increase-font-size");
	const fontSizeDecrease = document.querySelector(".decrease-font-size");
	let fontSize = parseFloat(getFontSize) || 0.85;

	// TOC
	const getToc = window.localStorage && window.localStorage.getItem("toc");
	const toc = document.querySelector(".toc");
	const tocToggle = document.querySelector(".toc-toggle");
	const tocToggleText = document.querySelector("#toc-toggle-button");
	const tocIsHide = getToc === "hide";

	const invertImgColor = () => {
		if (homepageImage) {
			document.body.classList.contains("dark-theme") ? homepageImage.src = "/assets/img/light.png" : homepageImage.src = "/assets/img/dark.png";
		}
		if (notFoundImage) {
			document.body.classList.contains("dark-theme") ? notFoundImage.src = "/assets/img/404-light.png" : notFoundImage.src = "/assets/img/404-dark.png";
		}
	};

	if (getTheme !== null) {
		document.body.classList.toggle("dark-theme", isDark);
		if (isDark) {
			metaThemeColor.setAttribute("content", "#252627");
			if (window.location.href.indexOf("settings") > -1) {
				themeToggleText.textContent = buttonTextDark;
			}
			// invertImgColor();
		} else {
			metaThemeColor.setAttribute("content", "#fafafa");
			if (window.location.href.indexOf("settings") > -1) {
				themeToggleText.textContent = buttonTextLight;
			}
			// invertImgColor();
		}
	} else {
		if (window.location.href.indexOf("settings") > -1) {
			themeToggleText.textContent = buttonTextLight;
		}
	}

	if (getFont !== null) {
		document.body.classList.toggle("normal-font", isNormal);
	}

	if (getFontSize !== null) {
		document.body.style.fontSize = getFontSize + 'rem';
	}

	if (getToc !== null) {
		document.body.classList.toggle("hide-toc", tocIsHide);
		if (tocIsHide) {
			if (document.getElementById("toc-container")) {
				document.getElementById("toc-container").style.display = "none"
			}
			if (window.location.href.indexOf("settings") > -1) {
				tocToggleText.textContent = buttonTextTocHide;
			}
		} else {
			if (window.location.href.indexOf("settings") > -1) {
				tocToggleText.textContent = buttonTextTocShow;
			}
		}
	} else {
		if (window.location.href.indexOf("settings") > -1) {
			tocToggleText.textContent = buttonTextTocShow;
		}
	}

	if (window.location.href.indexOf("settings") > -1) {
		themeToggle.addEventListener("click", () => {
			document.body.classList.toggle("dark-theme");
			invertImgColor();
			window.localStorage && window.localStorage.setItem(
					"theme",
					document.body.classList.contains("dark-theme") ? "dark" : "light",
			);
			document.body.classList.contains("dark-theme") ? metaThemeColor.setAttribute("content", "#252627") : metaThemeColor.setAttribute("content", "#fafafa");
			document.body.classList.contains("dark-theme") ? themeToggleText.textContent = buttonTextDark : themeToggleText.textContent = buttonTextLight;
		});

		fontToggle.addEventListener("click", () => {
			document.body.classList.toggle("normal-font");
			window.localStorage && window.localStorage.setItem(
					"font",
					document.body.classList.contains("normal-font") ? "normal" : "mono",
			);
		});

		fontSizeIncrease.addEventListener("click", () => {
			fontSize += 0.05;
			changeFontSize(fontSize)
		});

		fontSizeDecrease.addEventListener("click", () => {
			fontSize -= 0.05;
			changeFontSize(fontSize)
		});

		tocToggle.addEventListener("click", () => {
			document.body.classList.toggle("hide-toc");
			window.localStorage && window.localStorage.setItem(
					"toc",
					document.body.classList.contains("hide-toc") ? "hide" : "show",
			);
			document.body.classList.contains("hide-toc") ? tocToggleText.textContent = buttonTextTocHide : tocToggleText.textContent = buttonTextTocShow;
		});
	}

	function changeFontSize(fontSize) {
		if (fontSize >= 0.87 && fontSize <= 1.85) {
			window.localStorage && window.localStorage.setItem(
					"font-size",
					String(fontSize),
			);
			document.body.style.fontSize = fontSize + 'rem';
		}
	}

	window.addEventListener && window.requestAnimationFrame && document.getElementsByClassName && window.addEventListener('load', function () {
		'use strict';
		let e, t, n = document.getElementsByClassName('progressive replace');

		function i() {
			t = t || setTimeout(function () {
				t = null, r()
			}, 300)
		}

		function r() {
			n.length && requestAnimationFrame(function () {
				let t, i, r = window.innerHeight, a = 0;
				for (; a < n.length;) 0 < (i = (t = n[a].getBoundingClientRect()).top) + t.height && r > i ? (s(n[a]), n[a].classList.remove('replace')) : a++;
				e = n.length
			})
		}

		function s(e, t) {
			const n = e && (e.getAttribute('data-href') || e.href);
			if (n) {
				const i = new Image, r = e.dataset;
				r && (r.srcset && (i.srcset = r.srcset), r.sizes && (i.sizes = r.sizes)), i.onload = function () {
					requestAnimationFrame(function () {
						n === e.href && (e.style.cursor = 'default', e.addEventListener('click', function (e) {
							e.preventDefault()
						}, !1));
						const t = e.querySelector && e.querySelector('img.preview');
						e.insertBefore(i, t && t.nextSibling).addEventListener('animationend', function () {
							t && (t.alt && (i.alt = t.alt), e.removeChild(t)), i.classList.remove('reveal')
						})
					})
				}, (t = 1 + (t || 0)) < 3 && (i.onerror = function () {
					setTimeout(function () {
						s(e, t)
					}, 3e3 * t)
				}), i.className = 'reveal', i.src = n
			}
		}

		window.addEventListener('scroll', i, !1), window.addEventListener('resize', i, !1), MutationObserver && new MutationObserver(function () {
			n.length !== e && r()
		}).observe(document.body, {subtree: !0, childList: !0, attributes: !0, characterData: !0}), r()
	}, !1);
</script>
